<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<script src="/js/bootstrap.bundle.min.js"></script>

<!--  PROJETO DO VICTOR DA TURMA B-->

</head>
<body>

<div class="container">
<h2>Editar</h2>

<form th:action="@{/adicionar}" th:object="${tarefa}"method="post">
<input type="hidden" th:field="*{id}">
  <label for="fname">Nome da Tarefa:</label><br>
  <input type="text" id="nomeTarefa" name="nomeTarefa" th:field="*{nomeTarefa}">
  <input type="submit" value="Atualizar">
</form> 


</div>

</body>
</html>